<% content_for :title do %>MakeHackVoid<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#55acee;" data-moreinfo="Tweets about MakeHackVoid"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="instadash" data-view="Instadash"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_user_followers" data-view="Number" style="background-color:#55acee;" data-title="Twitter followers"></div>
      <i class="icon-twitter icon-tagline"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="facebook_likes" data-view="Number" data-title="Facebook Likes" style="background-color: #3b5998"></div>
      <i class="icon-facebook icon-tagline"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="calendar_events" data-pre="0" data-view="Calendar"></div>
      <i class="icon-calendar icon-tagline"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="calendar_events" data-pre="1"  data-view="Calendar"></div>
      <i class="icon-calendar icon-tagline"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
      <i class="icon-time icon-tagline"></i>
    </li>
  </ul>
</div>